@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-image: url(images/13624c4c63ecd7f.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
button, a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 400px;
    margin-top: 150px;
}

.form{
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    opacity: 0.7;
    padding: 30px;
}
.title{
    background-color: #fff;
    opacity: 0.7;
}
h1{
    text-align: center;
    padding: 10px;
}
.form-text{
    color: rgb(207, 65, 65);
}
input:valid + .form-text{
    display: none;
}


form{
    text-align: left;
    opacity: 1;
}
input{
    position: relative;
}
input:invalid {
    border: 3px solid rgb(189, 124, 124);
}

input:valid {
    border: 3px solid rgb(129, 182, 104);
}
p{
    color: rgb(37, 164, 214);
}

.btn{
    width: 100%;
    background-color: rgb(37, 164, 214);
    opacity: 1.1;
    color: white;
}
p:hover{
    color: rgb(22, 92, 119);
}
form span{
    padding-top: 10px;
    font-size: 14px;
    color: rgb(37, 164, 214);
}
input + span {
    position: relative;
}

input + span::before {
    position: absolute;
    left: 290px;
    top: -30px;
}


input:invalid + span::before {
    content: '✖';
    color: red;
    position: absolute;
}

input:valid + span::before {
    content: '✓';
    color: green;
    position: absolute;
}

