nav{
    background-color: rgb(37, 164, 214);
}
.nav-link{
    font-size: 20px;
    color:white;
    opacity: 0.5;
}
.time{
 position: absolute;
 left: 80%;
}
.active{
    color: white;
}
.act{
    color: white;
    opacity: 1;
}
.right{
    display: flex;
    justify-content: end;
}
h1{
    text-align: center;
    font-weight: 300;
}
.images{
    height: 150px;
}
.cards{
    margin: 0 center;
    justify-content: center;
}
.card{
    height: 25rem;
}
.card-body span{
    position: relative;
    font-size: 12px;
    text-align: right;
}
.btn{
    background-color: rgb(37, 164, 214);
    color: white;  
}
.btn:hover{
    background-color:rgb(48, 131, 163);
    color: white;
}
a.link{
    text-decoration: none;
    color: rgb(37, 164, 214);
}
a.link:hover{
    color:rgb(48, 131, 163);
}